# Eclipse files
.classpath
.settings
.project
.springBeans

# Checkstyle and findbugs eclipse plugins
*/.checkstyle
*/.fbExcludeFilterFile

# Intellij
.idea/
*.iml
*.iws

# VSCode
.vscode

# Netbeans files
nbactions.xml

# Maven target folder
target/
dependency-reduced-pom.xml

# MAC stuff
.DS_Store

# Jenv file
.java-version

# Maven shade plugin artifact
dependency-reduced-pom.xml
