# Eclipse files
.classpath
.settings
.project
.springBeans

# Checkstyle and findbugs eclipse plugins
*/.checkstyle
*/.fbExcludeFilterFile

# Intellij
.idea/
*.iml
*.iws

# Netbeans files
nbactions.xml

# Maven target folder
target/

# MAC stuff
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
